In [14]:
import pandas as pd
import numpy as np

In [ ]:
df_resale = pd.read_csv('../data/cleaned/resale_price_cleaned_2.csv')
df_resale['month'] = pd.to_datetime(df_resale['month'], format='%Y-%m')
df_resale['month'] = df_resale['month'].dt.strftime('%Y-%m')

### Interest rate

Choose Singapore Overnight Rate Average (SORA) as the indicator for interest rate/

In [16]:
df_interest = pd.read_csv("../data/raw/interest_rate.csv",skiprows=10)
df_interest = df_interest[:8]
df_interest = df_interest.iloc[[6]]

In [17]:
df_interest = df_interest.set_index('Data Series').T.reset_index()
df_interest.columns = ['month', 'interest_rate']
df_interest['month'] = pd.to_datetime(df_interest['month'])
df_interest['month'] = df_interest['month'].dt.strftime('%Y-%m')
df_interest.replace('na', np.nan, inplace=True)
df_interest = df_interest.dropna(subset=['month'])
df_interest

/var/folders/pf/xn094ngs70lb3jh0xpvlzx8c0000gn/T/ipykernel_50066/4192845808.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_interest['month'] = pd.to_datetime(df_interest['month'])

       month interest_rate
0    2025-01        2.6325
1    2024-12        2.1123
2    2024-11        3.0839
3    2024-10        3.1559
4    2024-09        3.8808
..       ...           ...
440  1988-05           NaN
441  1988-04           NaN
442  1988-03           NaN
443  1988-02           NaN
444  1988-01           NaN

[445 rows x 2 columns]

In [18]:
# Join with resale dataframe
df_resale = df_resale.merge(df_interest, on="month", how="left")
df_resale

,month,flat_type,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,latitude,longitude,nearest_mrt_distance,nearest_bus_distance,interest_rate
0,2017-01,2,ANG MO KIO AVE 10,10,44.0,Improved,1979,61.33,232000.0,1.362005,103.853880,926.898193,97.969153,0.1388
1,2017-01,3,ANG MO KIO AVE 4,1,67.0,New Generation,1978,60.58,250000.0,1.370966,103.838202,197.441011,168.954939,0.1388
2,2017-01,3,ANG MO KIO AVE 5,1,67.0,New Generation,1980,62.42,262000.0,1.380709,103.835368,499.284921,138.097011,0.1388
3,2017-01,3,ANG MO KIO AVE 10,4,68.0,New Generation,1980,62.08,265000.0,1.366201,103.857201,880.424478,72.020174,0.1388
4,2017-01,3,ANG MO KIO AVE 5,1,67.0,New Generation,1980,62.42,265000.0,1.381041,103.835132,471.153365,123.963837,0.1388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201055,2025-02,6,YISHUN RING RD,1,145.0,Maisonette,1988,62.25,860000.0,1.429046,103.844622,1069.887447,145.778587,NaN
201056,2025-02,6,YISHUN RING RD,1,142.0,Apartment,1988,62.42,845000.0,1.429780,103.843057,895.831038,241.983932,NaN
201057,2025-02,6,YISHUN ST 71,7,146.0,Maisonette,1986,60.42,818888.0,1.426020,103.829939,679.698412,167.649503,NaN
201058,2025-02,6,YISHUN ST 81,1,145.0,Apartment,1987,61.83,868888.0,1.413745,103.833303,406.125677,153.812977,NaN
201059,2025-02,6,YISHUN ST 81,10,146.0,Maisonette,1988,62.00,1100888.0,1.414174,103.832454,361.607579,137.497139,NaN

### Foreign Exchange Rate

In [19]:
df_fxrate = pd.read_csv("../data/raw/fxrate.csv", skiprows=9).head(1)

df_fxrate.replace('na', np.nan, inplace=True)
df_fxrate = df_fxrate.dropna(axis=1)

df_fxrate = df_fxrate.melt(var_name="month", value_name="fx_rate")[1:]
df_fxrate

         month fx_rate
1    2025 Jan   1.3625
2    2024 Dec   1.3503
3    2024 Nov   1.3365
4    2024 Oct    1.309
5    2024 Sep   1.2964
..         ...     ...
441  1988 May   2.0098
442  1988 Apr   2.0037
443  1988 Mar   2.0133
444  1988 Feb   2.0173
445  1988 Jan   2.0253

[445 rows x 2 columns]

In [20]:
# Convert month to "YYYY-MM" date format
df_fxrate["month"] = df_fxrate["month"].str.strip()
df_fxrate["month"] = pd.to_datetime(df_fxrate["month"], format='%Y-%m', errors="coerce")
df_fxrate = df_fxrate.dropna(subset=["month"])

# Join with resale dataframe
df_resale = df_resale.merge(df_fxrate, on="month", how="left")
df_resale

,month,flat_type,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,latitude,longitude,nearest_mrt_distance,nearest_bus_distance,interest_rate,fx_rate
0,2017-01,2,ANG MO KIO AVE 10,10,44.0,Improved,1979,61.33,232000.0,1.362005,103.853880,926.898193,97.969153,0.1388,NaN
1,2017-01,3,ANG MO KIO AVE 4,1,67.0,New Generation,1978,60.58,250000.0,1.370966,103.838202,197.441011,168.954939,0.1388,NaN
2,2017-01,3,ANG MO KIO AVE 5,1,67.0,New Generation,1980,62.42,262000.0,1.380709,103.835368,499.284921,138.097011,0.1388,NaN
3,2017-01,3,ANG MO KIO AVE 10,4,68.0,New Generation,1980,62.08,265000.0,1.366201,103.857201,880.424478,72.020174,0.1388,NaN
4,2017-01,3,ANG MO KIO AVE 5,1,67.0,New Generation,1980,62.42,265000.0,1.381041,103.835132,471.153365,123.963837,0.1388,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201055,2025-02,6,YISHUN RING RD,1,145.0,Maisonette,1988,62.25,860000.0,1.429046,103.844622,1069.887447,145.778587,NaN,NaN
201056,2025-02,6,YISHUN RING RD,1,142.0,Apartment,1988,62.42,845000.0,1.429780,103.843057,895.831038,241.983932,NaN,NaN
201057,2025-02,6,YISHUN ST 71,7,146.0,Maisonette,1986,60.42,818888.0,1.426020,103.829939,679.698412,167.649503,NaN,NaN
201058,2025-02,6,YISHUN ST 81,1,145.0,Apartment,1987,61.83,868888.0,1.413745,103.833303,406.125677,153.812977,NaN,NaN
201059,2025-02,6,YISHUN ST 81,10,146.0,Maisonette,1988,62.00,1100888.0,1.414174,103.832454,361.607579,137.497139,NaN,NaN

### Inflation Rate

The inflation rate is calculated using the CPI.

In [32]:
df_CPI = pd.read_csv("../data/raw/CPI_Base2019_Monthly.csv")
df_CPI.info()
df_CPI = df_CPI.head(1)
df_CPI = df_CPI.T
df_CPI = df_CPI.reset_index() # Convert original column names into the first column

df_CPI = df_CPI.iloc[1:].reset_index(drop=True)
df_CPI.rename(columns={"index":"Time", df_CPI.columns[1]:"CPI (base 2019)"}, inplace = True)
df_CPI.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Columns: 769 entries, DataSeries to 1961Jan
dtypes: float64(72), object(697)
memory usage: 913.3+ KB

      Time CPI (base 2019)
0  2024Dec         117.197
1  2024Nov         116.792
2  2024Oct         116.756
3  2024Sep         117.123
4  2024Aug         116.829

Data cleaning
- In this step, we filter the dataset to include only the rows where the 'Indicator Name' is "Inflation, consumer prices (annual %)". We then reshape the dataframe using the melt function to transform the year columns into rows, with 'Year' as a variable and 'Inflation Rate' as the value. After that, we select only the 'Year' and 'Inflation Rate' columns and drop any rows with missing values.

In [33]:
df_CPI["Time"] = pd.to_datetime(df_CPI["Time"], format='%Y%b').dt.to_period('M')
df_CPI['Time'] = df_CPI['Time'].dt.strftime('%Y-%m')
df_CPI["CPI (base 2019)"] = df_CPI["CPI (base 2019)"].astype(float)

In [22]:
df_CPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Time             768 non-null    object
 1   CPI (base 2019)  768 non-null    object
dtypes: object(2)
memory usage: 12.1+ KB

## Analysis
Since inflation is stationary, its statistical propertiesâ€”such as mean and varianceâ€”remain stable over time, indicating that past data can reliably inform future expectations. We can use the inflation level to measure and forecast price index across time, using 2024-12 (dataset's latest) as the base year.

In [36]:
df_CPI

        Time  CPI (base 2019)
0    2024-12          117.197
1    2024-11          116.792
2    2024-10          116.756
3    2024-09          117.123
4    2024-08          116.829
..       ...              ...
763  1961-05           24.053
764  1961-04           24.187
765  1961-03           24.585
766  1961-02           24.565
767  1961-01           24.542

[768 rows x 2 columns]

In [37]:
cpi_base = df_CPI.loc[df_CPI['Time'] == '2024-12', 'CPI (base 2019)'].iloc[0]
df_CPI['CPI (base 2024-12)'] = (df_CPI['CPI (base 2019)'] / cpi_base) * 100

# Compute month-over-month inflation rate
df_CPI = df_CPI.sort_values('Time', ascending=True)
df_CPI['inflation_rate (x100)'] = df_CPI['CPI (base 2024-12)'].astype(float).pct_change() * 100

In [38]:
df_CPI = df_CPI[['Time','inflation_rate (x100)']]

In [ ]:
df_resale = df_resale.merge(df_CPI, left_on="month", right_on="Time", how="left")
df_resale.drop(columns=['Time'], inplace=True)
df_resale

,month,flat_type,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,latitude,longitude,nearest_mrt_distance,nearest_bus_distance,interest_rate,fx_rate,Time,inflation_rate (x100)
0,2017-01,2,ANG MO KIO AVE 10,10,44.0,Improved,1979,61.33,232000.0,1.362005,103.853880,926.898193,97.969153,0.1388,NaN,2017-01,0.173994
1,2017-01,3,ANG MO KIO AVE 4,1,67.0,New Generation,1978,60.58,250000.0,1.370966,103.838202,197.441011,168.954939,0.1388,NaN,2017-01,0.173994
2,2017-01,3,ANG MO KIO AVE 5,1,67.0,New Generation,1980,62.42,262000.0,1.380709,103.835368,499.284921,138.097011,0.1388,NaN,2017-01,0.173994
3,2017-01,3,ANG MO KIO AVE 10,4,68.0,New Generation,1980,62.08,265000.0,1.366201,103.857201,880.424478,72.020174,0.1388,NaN,2017-01,0.173994
4,2017-01,3,ANG MO KIO AVE 5,1,67.0,New Generation,1980,62.42,265000.0,1.381041,103.835132,471.153365,123.963837,0.1388,NaN,2017-01,0.173994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201055,2025-02,6,YISHUN RING RD,1,145.0,Maisonette,1988,62.25,860000.0,1.429046,103.844622,1069.887447,145.778587,NaN,NaN,NaN,NaN
201056,2025-02,6,YISHUN RING RD,1,142.0,Apartment,1988,62.42,845000.0,1.429780,103.843057,895.831038,241.983932,NaN,NaN,NaN,NaN
201057,2025-02,6,YISHUN ST 71,7,146.0,Maisonette,1986,60.42,818888.0,1.426020,103.829939,679.698412,167.649503,NaN,NaN,NaN,NaN
201058,2025-02,6,YISHUN ST 81,1,145.0,Apartment,1987,61.83,868888.0,1.413745,103.833303,406.125677,153.812977,NaN,NaN,NaN,NaN
201059,2025-02,6,YISHUN ST 81,10,146.0,Maisonette,1988,62.00,1100888.0,1.414174,103.832454,361.607579,137.497139,NaN,NaN,NaN,NaN

In [ ]:
df_resale.to_csv('../data/cleaned/resale_price_cleaned_3.csv', index=False)